@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Permanent+Marker');


@include font-face('icomoon', 'Fonts/icomoon/icomoon', $ver: '?leue32');



[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e901";
}
.icon-twitter:before {
  content: "\e902";
}



//SVG Icons
/*<svg class="icon">
  <use xlink:href="#band_pic"></use>
</svg>
<svg class="icon">
  <use xlink:href="#burger 2.7"></use>
</svg>
<svg class="icon">
  <use xlink:href="#cocktail"></use>
</svg>
<svg class="icon">
  <use xlink:href="#cupcake"></use>
</svg>
<svg class="icon">
  <use xlink:href="#dish_pic"></use>
</svg>
<svg class="icon">
  <use xlink:href="#dumpling"></use>
</svg>
<svg class="icon">
  <use xlink:href="#Group"></use>
</svg>
<svg class="icon">
  <use xlink:href="#market_pic"></use>
</svg>
<svg class="icon">
  <use xlink:href="#teddy-bear"></use>
</svg>
<svg class="icon">
  <use xlink:href="#wheelchair"></use>
</svg>
<svg class="icon">
<<<<<<< HEAD
  <use xlink:href="#worldwide"></use>
</svg>*/
=======
  <use xlink:href="#dish_pic"></use>
</svg>*/
>>>>>>> 3e65d314de739145d6c3f6b4182e9ed97ea1901a
